*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  width: 100vw;
  height: 100vh;
  background-color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.home button {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}

.signupSignin {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
}

.signupSignin form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.signupSignin form input {
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 0 10px 0 10px;
  font-size: 20px;
}

.signupSignin form input[type="submit"] {
  cursor: pointer;
}

.dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #262626;
}

.header {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4d4242;
  padding: 0 30px 0 30px;
}

.header button {
  font-size: 20px;
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.functionalities {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  padding-top: 100px;
  width: 35%;
  height: 100%;
}

.sidebar button {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.sidebar .buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.showData {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.showData .data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  margin-top: 20px;
  font-size: 20px;
}

.unreadMessages {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat {
  width: 65%;
  height: 100%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chat .details {
  width: 100%;
  height: 5%;
  color: #fff;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.messages {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 30px;
  margin-bottom: 30px;
}

.messages .message {
  width: 100%;
  color: white;
  padding: 0 10px 0 10px;
}

.messages .messageSent {
  max-width: 60%;
  float: right;
  width: fit-content;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
}

.message .messageSent p {
  width: fit-content;
}

.messages .messageReceived {
  max-width: 60%;
  width: fit-content;
  background-color: grey;
  padding: 10px;
  border-radius: 10px;
}

.message .messageReceived p {
  width: fit-content;
}

.chat .send {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 1px solid white;
}

.unread,
.read {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: right;
  margin-top: 5px;
}

.unread {
  background-color: #262626;
}

.read {
  background-color: blue;
}

.chat .send input {
  width: 500px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 0 15px 0 15px;
  font-size: 20px;
}

.chat .send button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 10px;
}

.createGroup {
  width: 65%;
  height: 100%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.createGroup .input {
  height: 8%;
}

.createGroup .input input {
  height: 40px;
  width: 300px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 0 10px 0 10px;
}

.createGroup .container {
  width: 100%;
  height: 84%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createGroup .container .subContainer {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.createGroup .container .subContainer input {
  height: 30px;
  width: 300px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 0 10px 0 10px;
  margin-bottom: 20px;
}

.addUser {
  display: flex;
  gap: 20px;
  font-size: 25px;
  margin-bottom: 20px;
}

.green {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
}

.red {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

.addUser button {
  width: 50px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 10px;
}

.createGroup .container .create {
  height: 8%;
}

.chatGroup {
  width: 65%;
  height: 100%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.settings {
  width: 100%;
  height: 5%;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.messagesGroup {
  width: 100%;
  height: 85%;
  border-bottom: 1px solid white;
}

.usernameMessage {
  color: white;
}

.sendGroup {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sendGroup input {
  width: 500px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 0 10px 0 10px;
  font-size: 20px;
}

.sendGroup button {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  border: 10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
}

.empty {
  width: 65%;
  height: 100%;
}

.changeForgotResetPassword {
  width: 100vw;
  height: 100vh;
  background-color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.changeForgotResetPassword input {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 0 10px 0 10px;
}

.changeForgotResetPassword button {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}
